.home-content-desc{
       color:white;
       font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
       
}
.home-content-header{
     color: white;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home-container{
    background-image: url(https://wallpaperaccess.com/full/5576.jpg)
}